@charset "utf-8";

$sub-color: #f6f6f6;
$footer-color: #202124;
$article-color: #ffffff;

@mixin inner() {
  width: 90%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
@mixin flex($a: center, $j: space-between) {
  display: flex;
  flex-wrap: wrap;
  align-items: $a;
  justify-content: $j;
}

body {
  line-height: (24/14);
  letter-spacing: 0;
  font-family: Helvetica, Arial, sans-serif;
}
