@charset "utf-8";

body {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
  font-family: Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
.btn {
  display: block;
  width: 160px;
  padding: 14px 0;
  background-color: #202124;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-left: auto;
}
/* header */
.header {
  padding: 30px 0 60px 0;
}
.header_inner {
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.header_logo {
  margin-left: auto;
  margin-right: auto;
}

/* main */
.main_inner {
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main_article {
  margin-bottom: 40px;
}
.main_article:nth-child(even) {
  margin-bottom: 60px;
}
.article_catch {
  font-style: oblique;
  color: #fa6980;
  font-size: 12px;
  margin-bottom: 10px;
}

.article_title {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}
.article_text {
  color: #888888;
  margin-bottom: 25px;
}

/* discovery */
.DISCOVERY {
  padding: 60px 0;
  background-color: #f6f6f6;
}
.DISCOVERY_inner {
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.DISCOVERY_title {
  position: relative;
  width: 100%;
  line-height: 1;
  padding-left: 20px;
  margin-bottom: 30px;
}
.DISCOVERY_title::before {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #fa6980;
  width: 10px;
  height: 20px;
  top: 0;
  left: 0;
}
.stay {
  width: 31%;
}

.stay_textarea {
  padding: 35px;
  background-color: #fff;
}
.stay_title {
  font-size: 18px;
  width: 170px;
  margin-bottom: 20px;
}
.stay_time {
  position: relative;
  font-size: 12px;
  color: #bbbbbb;
  padding-left: 26px;
}
.stay_time::before {
  position: absolute;
  content: url(./images/icon_time.png);
  display: block;
  top: 0;
  left: 0;
}
/* footer */
footer {
  padding: 100px 0 40px 0;
  background-color: #202124;
  color: #bbbbbb;
}
.footer_inner {
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
