@charset "utf-08";
bodY {
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

h1 {
  font-size: 36px;
}
span {
  font-size: 20px;
}
