@charset "utf-8";

/* ベース */
/* ーーーーーーーーーーーーーーーーーー */
body {
  color: #6c6c6f;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

/* ブロック */
/*  */
/* header */
/* ------------------- */

.header {
  background-color: #123d88;
  padding: 30px 0;
}

.header-inner {
  max-width: 1200px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* main */
/* ------------------ */
.features {
  padding: 80px 0;
}
.features__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.features__info {
  width: 46%;
}
.features__list {
  width: 46%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features__item {
  width: 46%;
}

/* payment */
.payment {
  padding: 80px 0;
  background-color: #f7faff;
}

.payment_inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.payment_info {
  width: 46%;
}
.payment_visial {
  width: 46%;
}

/* footer */
/* ---------------------- */

.footer {
  background-color: #123d88;
  color: #fff;
  padding: 30px 0;
  text-align: right;
}

.footer__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer__copy {
  font-size: 15px;
}
