@charset "utf-8";

body {
  font-family: Helvetica, sans-serif;
  color: #6c6c6f;
  font-size: 16px;
  line-height: (28/16);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-inner {
  min-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 36px;
  color: #2f2f35;
  font-weight: bold;
  line-height: (48/36);
}
a {
  text-decoration: none;
}
// widht
.l-w-0 {
  width: auto;
}
.l-w-3 {
  width: 30%;
}
.l-w-4 {
  width: 40%;
}
.l-w-4h {
  width: 45%;
}
.l-w-5 {
  width: 50%;
}

// padding
.l-pa-4 {
  padding: 40px;
}
.l-pb-3 {
  padding-bottom: 30px;
}
.l-pb-4 {
  padding-bottom: 40px;
}
.l-pb-10 {
  padding-bottom: 100px;
}
.l-pd-2 {
  padding: 20px 30px;
}
.l-pd-6 {
  padding: 30px 0;
}
.l-pd-8 {
  padding: 80px 0;
}

// margin
.l-mb-2 {
  margin-bottom: 20px;
}
.l-mb-3 {
  margin-bottom: 30px;
}
.l-mb-4 {
  margin-bottom: 40px;
}

.l-mb-6 {
  margin-bottom: 60px;
}

.l-mb-8 {
  margin-bottom: 80px;
}

// border
.l-ba-1 {
  border: 1px solid #6c6c6f;
}
//background color

.l-bg-blue {
  background-color: #123d88;
  color: #fff;
}
.l-bg-orenge {
  background-color: #f87624;
}
.l-bg-liteblue {
  background-color: #256be6;
}

// border-radius
.l-bl-5 {
  border-radius: 50px;
}

// fontcolor
.l-fc-white {
  color: #fff;
}

.l-fc-blue {
  color: #256be6;
}

// text
.l-text-center {
  text-align: center;
}
.l-text-right {
  text-align: right;
}
.l-fs-1 {
  font-size: 14px;
}
// flex
.l-flex {
  display: flex;
}
.l-flexwrap {
  flex-wrap: wrap;
}
.l-align {
  align-items: center;
}
.l-just {
  justify-content: space-between;
}
// gup
.l-cg-2 {
  column-gap: 20px;
}
.l-rg-2 {
  row-gap: 20px;
}
// img position
.l-imgp-center {
  margin-left: auto;
  margin-right: auto;
}

// header
//
//
//
//
//
//

// main
// //
//
//
//
//
//
//
// card

.card-title {
  font-size: 22px;
  font-weight: bold;
  color: #2f2f35;
  margin-bottom: 20px;
}
.btn {
  font-size: 16px;
  line-height: (28/16);
  letter-spacing: 0.025;
  padding: 22px 55px;
}
